<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Zenvy Shop</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white">
    <div class=" flex items-center gap-8">
    <div class="p-10 ml-6 bg-zinc-800 rounded-lg w-1/2 mt-6">
        <h1 class="text-4xl text-zinc-300">Hello Owner <span class="text-2xl text-amber-500"><%= owner.fullname %></span> </h1>
        <h1 class="text-xl mt-4">Email : <%= owner.email %></h1>
    </div>
    <div>
        <button>
            <a href="/owners/admin" class="mt-6 ml-6 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-300">Add New Product</a>
        </button>
        <button>
            <a href="/owners/deleteProduct" class="mt-6 ml-6 px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition duration-300">Delete Product</a>
        </button>
    </div>
    </div>
</body>
</html>



